.sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('../staticfiles/mastheads/lataviusJumbotron.jpg');
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}
