/* Masthead */

.masthead--home-page .text-carousel h3 {font-size: 30px; padding-bottom: 10px;}

@media (min-width: 321px) {
	.masthead--home-page .text-carousel h3 {font-size: 42px;}
}

@media (min-width: 768px) {
	.masthead--home-page .text-carousel h3 {font-size: 64px;}
}

@media (min-width: 1000px) {
	.masthead .card-body {max-width: 500px;}
}

.jumbotron {
	background-position: 60% center;
	background-size: auto 100%;
	min-height: 800px;
}

@media (min-width: 992px) {
	.jumbotron {
		min-height: 600px;
		background-size: cover;
		background-position: top center;
	}
}

.masthead--home-page .jumbotron {
	background-image: url('../staticfiles/mastheads/lataviusJumbotron.jpg');
}

/* END Masthead */