/* Masthead */

.masthead .text-carousel h3 {font-size: 30px; padding-bottom: 10px;}

@media (min-width: 321px) {
  .masthead .text-carousel h3 {font-size: 42px;}
}

@media (min-width: 768px) {
  .masthead .text-carousel h3 {font-size: 64px;}
}

@media (min-width: 1000px) {
  .masthead .card-body {max-width: 500px;}
}

.masthead .jumbotron {
  background-position: 75% center;
  background-size: auto 100%;
  min-height: 700px;
}

@media (min-width: 992px) {
  .masthead .jumbotron {
    min-height: 700px;
    background-size: cover;
    background-position: top center;
  }
}

/* END Masthead */