.card-title {
  font-size: 1.25em;
}

.card-category {
  letter-spacing: 1px;
}

.card-icon {
  max-width: 80px;
}

.card-list {
  padding: 0 0 0 20px;
}

.card-list a {
  color: #000;
}

.card-list a:hover {
  color: #ff3547;
}