/* Custom Theming */

/* Type + Text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap');

/* Base/Global Styles */
body {
	background: #FFFFFF;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}

.title-font--primary {
	font-family: 'Montserrat', sans-serif;
}

.title-font--secondary {
	font-family: 'Domine', serif;
}

.navbar-brand img {
	max-width: 240px;
	width: 100%;
}

.sectionPage {
  position: relative;
  top: -15px;
  margin-bottom: -125px;
  min-height: 450px;
}

@media (min-width: 768px) {
  .sectionPage {
    min-height: 500px;
  }
}

@media (min-width: 1380px) {
  .sectionPage {
    min-height: 600px;
  }
}

.sectionPage::after {
  content: '';
  height: 140%;
  width: 100%;
  position: absolute;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionPage--about::after {
	background-image: url('./staticfiles/mastheads/lataviusJumbotron.jpg');
}

.mainContent {
	padding-bottom: 250px;
}

#separator {
	height: 150px;
}
/* END Base/Global Styles */

/* Cards */
.card-title {
	font-size: 1.25em;
}
.card-category {
	letter-spacing: 1px;
}
.card-icon {
	max-width: 80px;
}
.card-list {
	font-size: 14px;
	padding: 0 0 0 20px;
}
.card-list a {
	color: #000;
}
.card-list a:hover {
	color: #ff3547;
}

.context-card__title-interior span:first-of-type {
	font-size: 14px;
}

.context-card__title-interior span:nth-of-type(2) {
	font-size: 20px;
}

.context-card .card-list {
	font-size: 16px;
	font-weight: 600;
}

/* END Cards */

/* Carousels */
.carousel.carousel--home-intro .carousel-indicators {
	margin: 0;
	bottom: 5px;
}

.carousel.carousel--home-intro .carousel-indicators li {
	width: 12px;
	height: 12px;
	margin: 0 4px;
}

.carousel.carousel--home-intro .carousel-control-prev,
.carousel.carousel--home-intro .carousel-control-next {
	background-size: cover;
	position: absolute;
	bottom: 0;
	height: 50px;
	top: auto;
}

.carousel.carousel--home-intro .carousel-control-prev {
	left: 20%;
	right: auto;
}

.carousel.carousel--home-intro .carousel-control-next {
	right: 20%;
	left: auto;
}

.carousel.carousel--home-intro .carousel-control-prev-icon, 
.carousel.carousel--home-intro .carousel-control-next-icon {
 	width: 50px;
 	height: 50px;
 	position: absolute;
 	top: 50%;
    transform: translateY(-50%);
}

.carousel.carousel--home-intro .carousel-control-prev-icon {
	left: 0;
}

.carousel.carousel--home-intro .carousel-control-next-icon {
	right: 0;
}

.card-text-carousel h3 {
	font-size: 20px;
	line-height: 1.2;
	font-style: italic;
	text-transform: uppercase;
}

.text-carousel__title {
	font-size: 60px;
	line-height: 1;
}

/* END Carousels */

/* Course Info Page */
.course-info-intro {
	max-width: 100%;
}

@media (min-width: 1200px) {
	.course-info-intro {
		max-width: 75%;
	}
}

.course-info-intro .col:first-of-type {
	background-color: #F8F8F8;
}

.course-info-intro-list {
	margin: 0;
	font-size: 18px;
	padding-left: 20px;
}

.course-info-intro-list:first-of-type {
	list-style: none;
	padding: 0;
	margin: 20px 0 0;
}




