/* Custom Theming */

/* Type + Text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}

p, li {
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
	.text--lg {
		font-size: 20px;
	}
}

.display-4.title-primary {
	font-size: 3em;
	line-height: 1.1;
}

@media (max-width: 576px) {
	.display-4.title-primary {
		font-size: 2.5em;
	}

	.carousel-item .display-4.title-primary {
		font-size: 2.25em;
	}
}

@media (max-width: 321px) {
	.display-4.title-primary {
		font-size: 2em;
	}
	
	.carousel-item .display-4.title-primary {
		font-size: 1.75em;
	}
}
/* END Type + Text */

/* Buttons */
@media (min-width: 768px) {
	.btn--lg {
		max-width: 360px;
	}
}
/* END Buttons & Colors */

/* Base/Global Styles */
body {
	background: #FFFFFF;
}

.navbar-brand img {
	max-width: 240px;
	width: 100%;
}

.sectionPage {
  position: relative;
  top: -15px;
  margin-bottom: -125px;
  min-height: 450px;
}

@media (min-width: 768px) {
  .sectionPage {
    min-height: 500px;
  }
}

@media (min-width: 1380px) {
  .sectionPage {
    min-height: 600px;
  }
}

.sectionPage::after {
  content: '';
  height: 140%;
  width: 100%;
  position: absolute;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionPage--about::after {
	background-image: url('./staticfiles/mastheads/lataviusJumbotron.jpg');
}

.jumbotron .col--interior {
	min-height: 600px;
	background-size: cover;
	background-attachment: fixed; 
	background-position: top center;
	background-image: url('./staticfiles/mastheads/lataviusJumbotron.jpg');
}

@media (max-width: 992px) {
	.jumbotron .col--interior {
		min-height: 800px;
		background-size: auto 100%;
		background-position: 60% center;
	}
}

.mainContent {
	padding-bottom: 250px;
}

#separator {
	height: 150px;
}
/* END Base/Global Styles */

/* Cards */
.card-title {
	font-size: 1.25em;
}
.card-category {
	letter-spacing: 1px;
}
.card-icon {
	max-width: 80px;
}
.card-list {
	font-size: 14px;
	padding: 0 0 0 20px;
}
.card-list a {
	color: #000;
}
.card-list a:hover {
	color: #ff3547;
}
/* END Cards */

/* Carousels */
.carousel.carousel--primary .carousel-indicators {
	margin: 0;
	bottom: 5px;
}

.carousel.carousel--primary .carousel-indicators li {
	width: 12px;
	height: 12px;
	margin: 0 4px;
}

@media (min-width: 576px) {
	.carousel.carousel--primary .carousel-indicators li {
		width: 16px;
		height: 16px;
		margin: 0 6px;
	}
}
/* END Carousels */